/* 初期設定 */
body{
	font-family: sans-serif,Meiryo UI;
}


/* ヘッダー */
.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid #ccc;
	color: #575757;
}

.logo-image {
	width: 150px;
}

.navbar{
	display: flex;
	align-items: center;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;  /* 検索バー全体の幅を変更 */
    gap: 20px;
}

.category-select-box{
	display: flex;
	align-content: center;
	width: 140px;
	padding: 13px;
    cursor: pointer;
    color: #575757;
}

.category-select{
	font-size: 15px;
    color: #575757;
    font-weight: bold;
	text-align: center;
	cursor: pointer;
	border: none;
    appearance: none; /* デフォルトのスタイルを無効化 */
    -moz-appearance: none; /* Firefoxに対応 */
}
.category-select:focus,.search-input:focus{
	outline: none;

}

.search-input {
    width: 100%;      /* 入力ボックスの幅を100%にして親要素にフィットさせる */
    height: 25px;
    padding: 8px;     /* 内側の余白を追加 */
    font-size: 14px;  /* フォントサイズを調整 */
    border: none;
    border-bottom: 1px solid #575757;
}

.search-button {
    padding: 0 16px;
    font-size: 14px;
    background-color: #494949;
    color: white;       /* ボタンの文字色 */
    border: none;       /* ボーダーなし */
    cursor: pointer;    /* カーソルをポインターに変更 */
    width: 75px;
    height: 42px;

}

.search-button:hover {
    background-color: #6a6a6a; /* ホバー時に背景色変更 */
}

.navbar-link{
	color: #575757;
	font-size: 40px;
	line-height: 0;
}

.nav-box{
	color: #575757;
	width: 60px;
	text-align: center;
}
.nav-message{
	font-size: 10px;
	font-weight: bold;
}