/* ------------------------ */
/* 初期化設定 */
/* ------------------------ */
	html,body{
		font-family: sans-serif,Meiryo UI;
		color: #2c2c2c;
		margin: 0;
		height: 100%;
		display: flex;
      	flex-direction: column; /* コンテンツを縦に並べる */
	}

	footer {
		flex: 1;
		display: flex;
		align-items: flex-end;
	}

	a {
	  color: inherit;       /* リンクのテキスト色を親要素から継承 */
	  text-decoration: none; /* 下線を消す */
	  background: transparent; /* 背景色を透明に */
	  outline: none;         /* リンクがフォーカスされたときのアウトライン（枠線）を消す */
	}

	.copyright{
		width: 100%;
		text-align: center;
	}

	select {
		text-align: center; /* selectのテキストを中央揃え */
  		overflow-y: auto;
	}

	option {
		text-align: center; /* optionのテキストを中央揃え */
	}

/* ------------------------ */
/* 共有css */
/* ------------------------ */
	/* エラーメッセージ */
	.error-message {
        color: #d40000;
        font-size: 12px;
    }
    .required{
    	color: #d40000;
    	font-size: small;
    }
/* 横並び縦真ん中 */
	.flex-center{
		display: flex;
		align-items: center;
	}

/* 縦並び横真ん中 */
	.flex-col-center {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.button {
		display: inline-block;
		padding: 10px 20px;
		background: #494949;
		color: #eee;
		border-radius: 5px;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
		border: none;
	}
	.button:hover {
	    opacity: 0.8;
	    transition: 0.8s;
	}

	/* ラジオボタンデザイン */
	.radio-buttons input[type="radio"] {
		position: absolute; /* ラジオボタンを非表示にする */
		opacity: 0; /* ラジオボタンを見えないようにする */
	}
	.radio-buttons{
		margin-top: 20px;
	}

	.radio-label {
		display: inline-block;
		padding: 12px 30px;
		color: #333;
		cursor: pointer;
		font-size: 16px;
		border-radius: 5px;
		transition: all 250ms ease;
		margin-right: 10px;
	}

	/* ラベルの丸いラジオボタン部分のデザイン */
	.radio-label:before {
		content: '';
		background: #f4f4f4; /* 初期状態の背景色 */
		border-radius: 100%;
		width: 1.4em;
		height: 1.4em;
		display: inline-block;
		position: relative;
		margin-right: 10px;
		vertical-align: middle;
		border: 1px solid #dcdcdc;
		transition: all 250ms ease;
	}

	/* チェック状態のラジオボタン */
	input[type="radio"]:checked+.radio-label:before {
		background-color: #3197EE; /* チェックされた時の背景色 */
		box-shadow: inset 0 0 0 4px #f4f4f4; /* チェックされた時の内側の影 */
	}

	/* フォーカス時のラジオボタン */
	input[type="radio"]:focus+.radio-label:before {
		outline: none;
		border-color: #3197EE; /* フォーカス時の境界線色 */
	}


	/* ドロップダウンリスト */
	.numselect {
	    padding: 10px 0;
	    cursor: pointer;
	    font-size: 16px;
	    text-align: center;
	    border: 1.5px solid #575757;
	    width: 60px;
	}

	/* ------------------------ */
	/* ヘッダー */
	/* ------------------------ */
	.header-container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid #ccc;
		background: #fff;
	}

		/* 企業ロゴ */
	.logo{
		margin-left: 20px;
	}
	.logo-image {
		width: 150px;
	}

		/* 検索バー枠 */
	.search-bar {
	    display: flex;
	    align-items: center;
	    width: 100%;
	    gap: 20px;
	}

		/* カテゴリー検索 */
	.category-select-box{
		display: flex;
		align-content: center;
		width: 140px;
		padding: 13px;
	    cursor: pointer;
	}
	.category-select{
		font-size: 15px;
		color: #2c2c2c;
	    font-weight: bold;
		text-align: center;
		cursor: pointer;
		border: none;
	  /*  appearance: none; /* デフォルトのスタイルを無効化 */
	  /*  -moz-appearance: none; /* Firefoxに対応 */
	}
	.category-select:focus,.search-input:focus{
		outline: none;
	}
	.search-input {
	    width: 100%;
	    height: 25px;
	    padding: 8px;
	    font-size: 14px;
	    border: none;
	    border-bottom: 1px solid #2c2c2c;
	}

		/* 検索ボタン */
	.search-button {
	    padding: 0 16px;
	    font-size: 14px;
	    background-color: #494949;
	    color: white;
	    border: none;
	    cursor: pointer; /* カーソルをポインターに変更 */
	    width: 75px;
	    height: 42px;

	}
	.search-button:hover {
	    opacity: 0.8;
	    transition: 0.8s;
	}

		/* ナビ枠 */
	.navbar{
		display: flex;
		align-items: center;
	    gap: 15px;
	}

	.nav-box{
		width: 60px;
		text-align: center;
	}
	.navbar-link{
		color: #575757;
		font-size: 40px;
		line-height: 0;
	}
	.nav-message{
		font-size: 10px;
		font-weight: bold;
		margin-top: 8px;
	}
/* ------------------------ */
/* トップページ */
/* ------------------------ */
	.top-container{
		display: grid;
		place-items: center; /* 横縦ともに中央揃え */
	}

	.item-label{
		width: 100%;
		border-bottom: 2px solid #575757;
	}
	.item-img{
		width: 230px;
	}
	.product_link{
		width: 270px;
		text-align: center;
		margin: 20px;
	}
	.product_message{
		margin: 5px 0;
	}
	.discount-price{
		color: #d40000;
		font-weight: bold;
	}

	.cart-img{
		width: 130px
	}

	.top-container table{
		border-collapse: collapse;
	}

	.top-container tr{
		border-bottom: 1px solid #ccc;
	}
	.top-container tr:last-child{
		border: none;
	}

	.top-container td{
		padding: 30px 0;
		vertical-align: top;
	}

/* ------------------------ */
/* 発送情報入力 */
/* ------------------------ */
	.order-container{
		display: flex;
		background: #efefef;
	}

	/* カートの中身（位置固定div) */
    #fixedDiv {
    	width: 40vw;  /* ウィンドウの幅の40% */
        border-left: 1px solid #c0c0c0;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
        text-align: center;
		background: #efefef;
		overflow: visible;
		height: 170vh;
    }

    #creditDiv  {
		display: none;
		background: #e3e3e3;
		padding: 5px 20px 25px 20px;
		border-radius: 8px;
		margin: 15px 0;
	}

	.orderForm-container{
		width: 100vw;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.side-contents{
		padding: 20px;
		position: sticky;
		top: 0;
		overflow-y: auto;
		height: calc(100vh - 20px);
	}
	.side-contents .title {
		text-decoration: underline;
		text-underline-offset: 6px;
		text-decoration-style: double;
		text-decoration-color: #575757;
	}
	.side-message{
		text-align: left;
		margin-left: 15px;
	}

	#orderFormModel{
		width: 50%;
	}

	.form-item{
		margin-top: 20px;
	}
	.form-item label{
		padding: 0 8px;
	}
	.form-item input{
		margin-top: 5px;
	}
	.form-control {
		display: block;
		width: 95%;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		background-image: none;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, 0.15);
		overflow: hidden;
		border-radius: 0.25rem;
	}
	.form-control:focus {
		outline: none;
	}
	.form-control.error{
		border: 1.8px solid #d4000080; /* 赤枠 */
	}

	.button-box {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		margin: 50px 0;
	}

	.side-contents table{
		border-collapse: collapse;
	}
	.side-contents table tr{
		border-bottom: 1px solid #ccc;
	}
	.side-contents table td{
		padding: 20px 0px;
	}

/* ------------------------ */
/* 会員情報 */
/* ------------------------ */
	.updateForm-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form-table {
		width: 55vw;
		border-collapse: collapse;
		margin-bottom: 20px;
		background-color: #efefef; /* テーブル全体の背景色 */
	}

	.form-table tr{
		border-top: 1px solid #c7c7c7;
		border-bottom: 1px solid #c7c7c7;
		border-left: 1px solid #c7c7c7;
		border-right: 1px solid #c7c7c7;
	}
	.form-table td{
		line-height: 1rem;
		padding: 1rem;
		text-align: left;
	}

	.form-table td:first-child {
		width: 200px;
		font-weight: bold;
		background-color: #e3e3e3;
		text-align: center;
		padding: 10px 15px;
	}

	.submit-button{
		width: 40%;
		margin: 10px 0;
	}

/* ------------------------ */
/* 注文履歴 */
/* ------------------------ */
	.table-container{
		width: 90%;
		height: 75vh; /* 高さを指定 */
		overflow-x: auto; /* 横スクロールを有効にする */
		overflow-y: auto; /* 縦スクロールを有効にする */
        -webkit-overflow-scrolling: touch; /* モバイルでスムーズなスクロール */
		white-space: nowrap;
	}
	.table-container table{
		border-collapse: collapse;
	}

	.table-container th, .table-container td {
		padding: 1.5rem;
		border: 1px solid #ccc;
	}
	.table-container th{
		position: sticky;
		top: 0;
		background: #189e69;
		color: #fff;
		border-top: 2px;
	}
	.table-container td {
		text-align: center;
		background: #fff;
	}


	.table-container select {
		-webkit-appearance: none; /* SafariやChrome向け */
		-moz-appearance: none; /* Firefox向け */
		appearance: none; /* 標準化されたプロパティ */

		padding: 1em;
		border-radius: 20px;
		border: none;
		font-weight: bold;
		cursor: pointer;
	}
	.table-container select:focus{
		outline: none;
	}
	.table-container option{
		background: #fff;
	}
	.unship{
		background: #afd2ff;
	}
	.ship{
		background: #ffafaf;
	}
	.delete{
		background: #c2c2c2;
	}

/* スライダー */
	.mv {
		width: 50vw;
		height: auto;
		background-color: #ffaacc;
		padding: 32px 0 8px 0;
	}

	.slider img {
		margin-left: -750px;
		margin-right: 800px;
	}

	.bx-wrapper {
		box-shadow: none;
		border: none;
		max-width: 65vw !important;
	}

	.slider {
		display: flex;
		overflow: hidden; /* スライドの外の部分を隠す */
	}

	.bx-wrapper .bx-viewport {
		overflow: hidden; /* スライダーの表示領域を隠して、見える部分だけ表示 */
	}

	.bx-wrapper .bx-slide {
		transition: transform 1s ease-in-out; /* スライドが切り替わる際にスムーズに移動 */
	}